body{
  background-color: #000;
}
.game-bg{
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

#canvas1{
  border: 3px solid #fff;
  width: 800px;
  height: 700px;
}